.ClickBox-Input {
    display: block;
    padding: 5px;
    width: 23vh;
    font-family: inherit;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 38px;
    border-width: 0;
    background: linear-gradient(180deg, #3185FC 0%, #3185FC 59.9%, #495BFF 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.ClickBox-Input:hover {
    background: linear-gradient(180deg, #236dd6 0%, #2167c9 59.9%, #2836b8 100%);
}

.ClickBox-Input:active {
    background: linear-gradient(0deg, #236dd6 0%, #2167c9 59.9%, #2836b8 100%);
}

.ClickBox-green {
    background: linear-gradient(180deg, #9ebd13 0%, #009a73 100%);
}

.ClickBox-green:hover {
    background: linear-gradient(180deg, #8a9d0c 0%, #009170 100%);
}

.ClickBox-green:active {
    background: linear-gradient(0deg, #8a9d0c 0%, #009170 100%);
}